

ul{
  text-align: left;
  text-indent: inherit;
  font-weight: bold;
  font-size: 12px;
}

ul > li{
  list-style-type: square;
  text-align: left;
  font-weight: normal;
}

h1, h2 {
 color: black;
 font-weight: bold;
 font-family: calibri;
}

h1 {
 font-size:38px;
 text-align: left;
}

h2 {
 font-size:28px;
 text-align: left;
}

p {
 font-family: calibri;
 font-size: 100%;
 color: black;
 text-align: left;
 border: 0px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  #parrafo{
    display: none;
  }
}


p::first-line {
  background-color: #EEF0F2x;
}

.imagenes {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
}

.imagenes:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.tabla {
  font-size: 8px;
}
